{% extends 'base.html' %}
{% block title %}ISVR | About{% endblock %}
{% block a_active %}active{% endblock %}
{% block main %}
{% load static %}
<section id="about">
    <div class="container my-5">
        <div class="text-center mb-5 col-md-10 mx-auto">
            <h1 class="font-weight-bold display-6">Who We <span class="text-primary-color">Are</span>?</h1>
        </div>
        <div class="row">
            <div class="col-md-6 my-4">
                <h2 class="display-6 text-center mb-4"><span class="text-primary-color">We Work</span> for your
                    better Tommorow
                </h2>
                <p class="my-3 mx-3">Learners in the domains of science, computer programmes, technology, research,
                    and engineering get to experience a complete technique of delivering substantial academic and
                    vocational information at ISVR.
                </p>
                <ul class="text-center font-weight-light list-unstyled">
                    <li>
                        <p><i class="fa-solid fa-square-check"></i> Learn from our Experience</p>
                    </li>
                    <li>
                        <p><i class="fa-solid fa-square-check"></i> Build with your Creativity</p>
                    </li>
                    <li>
                        <p><i class="fa-solid fa-square-check"></i> Launch for the Better Tommorow</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 my-4">
                <img class="image-100" src="https://github.com/S0M3N/isvr-project/blob/main/static/images/about.jpg?raw=true}" alt="">
            </div>
        </div>
    </div>
</section>
<section id="our-text">
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 my-4">
                <p class="my-3 mx-3">
                    The goal is to create an open learning platform that will provide space awareness activities,
                    educational programmes, research and development of space exploration technologies, and the
                    organisation of major space industry events for the benefit of the global space community. ISVR
                    Space Academy's main goal is to (I-care) for the global space community through inspiring,
                    connecting, advocating, researching, and educating.
                </p>
            </div>
            <div class="col-md-6 my-4">
                <h3 class="font-weight-600 display-5 text-right text-capitalize">We have <span
                        class="text-primary-color">5+ Years</span> of <br> Industrial Expertise.
                </h3>
                <p class="font-weight-light my-4">For the global student community, the vision is to create a
                    globally
                    accessible open learning platform.
                </p>

            </div>
        </div>
    </div>
</section>
<section id="team" class="team section-bg my-3">
    <div class="container">
        <div class="text-center mb-5 my-4 col-md-10 mx-auto">
            <h3 class="font-weight-600 display-5 text-capitalize">Our<span
                    class="text-primary-color">Advisory</span></h3>
            <p>Meet our Industrial <span class="text-primary-color">Experts</span> </p>
        </div>

        <div class="row mx-4">
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team9.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Prof. THAIS RUSSOMANO</h4>
                        <span>Space Medicine Expert</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team10.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Jacob Lofdahl</h4>
                        <span>Danish Knowledge Management</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team11.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Andy Gray</h4>
                        <span>Stem Education Expert</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team12.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Simon Gwozdz</h4>
                        <span>Rocket Expert</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center mb-5 my-4 col-md-10 mx-auto">
            <h3 class="font-weight-600 display-5 text-capitalize">Meet Our <span
                    class="text-primary-color">awesome</span> team</h3>
            <p>Alone we can do so <span class="text-primary-color">little,</span> but together we can make the <span
                    class="text-primary-color">change.</span></p>
        </div>

        <div class="row mx-4">
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team1.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Amitish Soni</h4>
                        <span>Chief Operative Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team2.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ankit Chaudhary</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team6.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Madhusudan Upadhya</h4>
                        <span>Mentor</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team5.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Er. Ashish Nishad</h4>
                        <span>Research Co-ordinator</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team13.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Nainsi</h4>
                        <span>Technical Head</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team7.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Advocate Prashant <br>Chaudhary</h4>
                        <span>Legal Advisor</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/team/team8.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Praful Pandey</h4>
                        <span>Space Medicine Co-ordinator</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="team section-bg my-3">
    <div class="container">
        <div class="text-center mb-5 my-4 col-md-10 mx-auto">
            <h3 class="font-weight-600 display-5 text-capitalize">Our<span class="text-primary-color"> Global</span>
                Partners</h3>
            <p>Meet our Industrial <span class="text-primary-color">Experts</span> </p>
        </div>

        <div class="row mx-4">
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client1-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Equatorial Space System</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client2-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>InovaSpace</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client3-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Space 4 All</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client4-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Roorkee College of Engineering</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client5-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>International Space Agency</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client6.jpg?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>ISpA</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client7-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Atriom Technologies Ltd.</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client8-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Front Forum Focus</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client9-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Uibha Vigyan Bharti</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client10-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>MSME India</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/clien11-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>StartupIndia</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://github.com/S0M3N/isvr-project/blob/main/static/images/Clients/client12-removebg-preview.png?raw=true" class="img-fluid" alt="">
                        <div class="social">
                            <a href="#" class="text-light"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Niti Aayog India</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}