<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><img src="/static/images/logo.png?raw=true" alt="ISVR"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% block h_active %}{% endblock %}" href="/#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block a_active %}{% endblock %}" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block s_active %}{% endblock %}" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block c_active %}{% endblock %}" href="/contact">Contact
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block co_active %}{% endblock %}" href="/courses">Courses</a>
                    </li>
                </ul>
                <i class="fa-solid fa-sun mx-4" id="icon"></i>
            </div>
        </nav>
    </section>
    {% block main %}
    {% endblock main %}
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-box">
                    <img src="/static/images/logo.png?raw=true" alt="ISVR">
                    <p>ISVR is a comprehensive method of delivering significant academic and vocational knowledge to
                        students in the fields of science, computer programs, technology, research, and engineering.</p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b class="text-uppercase">Contact Us</b></p>
                    <p class="font-weight-light">
                        <i class="fa-solid fa-location-dot"></i> ISVR Research Lab, RCE, Roorkee, Uttarakhand 247667
                    </p>
                    <p class="font-weight-light">
                        <i class="fa-solid fa-location-dot"></i> ISVR, Jubilee Market, Laxmi Bazar, Dhenkanal 759001
                    </p>
                    <p>
                        <i class="fa-solid fa-phone"></i> +91 88820 54894 / +91 98610 55575
                    </p>
                    <p>
                        <i class="fa-solid fa-envelope"></i> <a href="mailto:info@isvr.org.in"
                            class="text-light">info@isvr.org.in</a>
                    </p>
                </div>
                <div class="col-md-4 footer-box">
                    <p><b class="text-uppercase">Important Links</b></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/" class="text-light">Home</a>
                        </li>
                        <li>
                            <a href="/#about" class="text-light">About Us</a>
                        </li>
                        <li>
                            <a href="/#services" class="text-light">Services</a>
                        </li>
                        <li>
                            <a href="https://isvr-cert.herokuapp.com/" class="text-light">Certificates</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center py-3">&copy; 2022 Copyright:
            <a href="/" class="text-light"> isvr.org.in</a>.
            Designed by: <a href="https://www.linkedin.com/in/somen-samanta-6375a921a/">Somen</a>
        </div>
    </section>

    <a class="gototop" href="#"><i class="fas fa-arrow-up"></i></a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
    <script>
        var icon = document.getElementById("icon");

        icon.onclick = function () {
            document.body.classList.toggle("dark-mode")
        }

    </script>
</body>

</html>