{% extends 'base.html' %}
{% block title %}ISVR | Home{% endblock title %}
{% block h_active %}active{% endblock %}
{% block main %}
<div class="container text-center my-4" style="min-height: 60vh;">
    <h2 class="">The <span class="text-primary-color">Payment</span> Gateway is in development</h2>
    <div class="row my-4">
        <div class="col mx-3 my-4">
            <p>Sorry for the <span class="text-primary-color">inconvenience</span> but the payment gateway is still in
                development phase and we can not take any payment right now so we request you to fill the contact form
                at this moment and we will connect to you to <span class="text-primary-color">guide</span> for the
                further process to apply for the course.</p>
        </div>
        <div class="col mx-3 my-4 text-center">
            <a href="/contact" class="btn my-4 px-4 py-2 rounded-pill text-white bg-primary-color">Contact Us</a>
        </div>
    </div>
</div>
{% endblock main %}